In [114]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [115]:
rated_books = pd.read_csv('Dataset/rated_books.csv')
rated_books.head()

,Unnamed: 0,User-ID,Location,Age,city,state,country,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
0,1,8,"timmins, ontario, canada",NaN,timmins,ontario,canada,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
1,9,8,"timmins, ontario, canada",NaN,timmins,ontario,canada,074322678X,5,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...
2,12,8,"timmins, ontario, canada",NaN,timmins,ontario,canada,0887841740,5,The Middle Stories,Sheila Heti,2004,House of Anansi Press,http://images.amazon.com/images/P/0887841740.0...
3,13,8,"timmins, ontario, canada",NaN,timmins,ontario,canada,1552041778,5,Jane Doe,R. J. Kaiser,1999,Mira Books,http://images.amazon.com/images/P/1552041778.0...
4,15,8,"timmins, ontario, canada",NaN,timmins,ontario,canada,1567407781,6,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,http://images.amazon.com/images/P/1567407781.0...

In [116]:
rated_books.shape

(383842, 14)

## Popularity based recommendar system
Top 50 books based on average ratings from books which has got more than 100 ratings.

In [117]:
df = rated_books.groupby('Book-Title').agg({'Book-Rating': ['count', 'mean']}).reset_index(col_level=1).rename(columns={'count':'num_rating','mean':'avg_rating'})
df.columns = df.columns.droplevel(0)
df.head()

                                          Book-Title  num_rating  avg_rating
0   A Light in the Storm: The Civil War Diary of ...           1    9.000000
1   Ask Lily (Young Women of Faith: Lily Series, ...           1    8.000000
2                                       Dark Justice           1   10.000000
3   Earth Prayers From around the World: 365 Pray...           7    7.142857
4   Final Fantasy Anthology: Official Strategy Gu...           2   10.000000

In [118]:
df.describe()

          num_rating     avg_rating
count  135567.000000  135567.000000
mean        2.831382       7.522773
std         9.135691       1.706055
min         1.000000       1.000000
25%         1.000000       6.500000
50%         1.000000       8.000000
75%         2.000000       9.000000
max       707.000000      10.000000

In [119]:
df['num_rating'].max()

707

In [120]:
df['num_rating'].min()

1

In [121]:
df['num_rating'].mode()

0    1
Name: num_rating, dtype: int64

In [122]:
df[df['num_rating'] >=500].shape

(2, 3)

 rating > than   num_book  
 10                 5712
 50                 651
 100                200
 150                92
 200                50
 250                27
 300                14
 400                4
 500                2

In [123]:
df = df[df['num_rating'] >=100].sort_values('avg_rating',ascending=False).head(50)

In [124]:
df.shape

(50, 3)

In [125]:
df.head(10)

,Book-Title,num_rating,avg_rating
119061,"The Two Towers (The Lord of the Rings, Part 2)",136,9.330882
115128,"The Return of the King (The Lord of the Rings,...",103,9.213592
45381,Harry Potter and the Goblet of Fire (Book 4),247,9.125506
45400,Harry Potter and the Sorcerer's Stone (Book 1),176,9.062500
45385,Harry Potter and the Order of the Phoenix (Boo...,211,9.047393
45393,Harry Potter and the Prisoner of Azkaban (Book 3),277,9.043321
123681,To Kill a Mockingbird,267,8.977528
45403,Harry Potter and the Sorcerer's Stone (Harry P...,315,8.936508
34428,Ender's Game (Ender Wiggins Saga (Paperback)),151,8.920530
104949,The Fellowship of the Ring (The Lord of the Ri...,205,8.882927

In [126]:
popular_book = df.merge(rated_books,how='inner',on='Book-Title').drop_duplicates('Book-Title').reset_index()[['Book-Title','Book-Author','Year-Of-Publication','avg_rating','num_rating','Image-URL-M']]

In [127]:
popular_book.shape

(50, 6)

In [128]:
popular_book.columns

Index(['Book-Title', 'Book-Author', 'Year-Of-Publication', 'avg_rating',
       'num_rating', 'Image-URL-M'],
      dtype='object')

In [129]:
popular_book.head()

,Book-Title,Book-Author,Year-Of-Publication,avg_rating,num_rating,Image-URL-M
0,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,1986,9.330882,136,http://images.amazon.com/images/P/0345339711.0...
1,"The Return of the King (The Lord of the Rings,...",J. R. R. Tolkien,1988,9.213592,103,http://images.amazon.com/images/P/0395272211.0...
2,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,9.125506,247,http://images.amazon.com/images/P/0439139597.0...
3,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,9.062500,176,http://images.amazon.com/images/P/0590353403.0...
4,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,9.047393,211,http://images.amazon.com/images/P/043935806X.0...

## Collaborative based filtering
dataset : rated_books.csv 
we need users who have rated more than 100 times 
We need books which has got more than 50 ratings.

In [130]:
rated_books.shape

(383842, 14)

In [131]:
readers = rated_books.groupby(['User-ID']).agg({'Book-Rating':'count'}).rename(columns={'Book-Rating':'num_rating'})

In [132]:
readers['num_rating'].min()

1

In [133]:
readers['num_rating'].max()

6943

In [134]:
readers.shape

(68091, 1)

In [135]:
for i in [10,20,50,100,200,500,700,1000,4000]:
    print(f"{i} : {readers[readers['num_rating'] > i].shape}")

10 : (5981, 1)
20 : (3138, 1)
50 : (1150, 1)
100 : (440, 1)
200 : (118, 1)
500 : (21, 1)
700 : (13, 1)
1000 : (7, 1)
4000 : (2, 1)

In [136]:
active_readers = readers[readers['num_rating'] > 100].index

In [137]:
filtered_users = rated_books[rated_books['User-ID'].isin(active_readers)]

In [138]:
books = rated_books.groupby(['Book-Title']).agg({'Book-Rating':'count'}).rename(columns={'Book-Rating':'num_rating'})

In [139]:
books.shape

(135567, 1)

In [140]:
books['num_rating'].min()

1

In [141]:
books['num_rating'].max()

707

In [142]:
for i in [10,20,50,60,100,200,500,700]:
    print(f"{i} : {books[books['num_rating'] > i].shape}")

10 : (5044, 1)
20 : (2195, 1)
50 : (626, 1)
60 : (486, 1)
100 : (192, 1)
200 : (50, 1)
500 : (2, 1)
700 : (1, 1)

In [143]:
active_books = books[books['num_rating'] > 50].index

In [144]:
filtered_users_books = filtered_users[filtered_users['Book-Title'].isin(active_books)]

In [145]:
filtered_users_books.shape

(10668, 14)

In [146]:
filtered_users_books.head()

,Unnamed: 0,User-ID,Location,Age,city,state,country,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
1951,3906,2033,"omaha, nebraska, usa",27.0,omaha,nebraska,usa,043935806X,9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...
1953,3908,2033,"omaha, nebraska, usa",27.0,omaha,nebraska,usa,0812533550,10,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,http://images.amazon.com/images/P/0812533550.0...
1954,3909,2033,"omaha, nebraska, usa",27.0,omaha,nebraska,usa,0439064864,9,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...
1963,3926,2033,"omaha, nebraska, usa",27.0,omaha,nebraska,usa,0345337662,5,Interview with the Vampire,Anne Rice,1993,Ballantine Books,http://images.amazon.com/images/P/0345337662.0...
1966,3932,2033,"omaha, nebraska, usa",27.0,omaha,nebraska,usa,0553573136,8,Couplehood,PAUL REISER,1995,Bantam,http://images.amazon.com/images/P/0553573136.0...

In [147]:
filtered_users_books.duplicated().sum()

0

In [148]:
pt = filtered_users_books.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
pt.fillna(0,inplace=True)

In [149]:
pt

User-ID,2033,2110,2276,4017,4385,5582,6242,6251,6543,6575,...,269566,270713,271448,271705,273113,274061,274301,275970,277427,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wizard and Glass (The Dark Tower, Book 4)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0

Here each book is a vector with 426 dimention
I need to calcutae distance between each book
at last For each book I will find 5 similar books with closest distance

#### using cosine similarity

In [150]:
# python3.10 -m pip install sciket-learn
from sklearn.metrics.pairwise import cosine_similarity

In [151]:
similarity_scores = cosine_similarity(pt)
similarity_scores.shape

(626, 626)

Novel 1: Year of Wonders : index(623) :(no boo available for recommendation)
Novel 2 : Harry Potter and the Sorcerer's Stone (Book 1) : index(212)

In [231]:
# row index of any book you name
np.where(pt.index=="Harry Potter and the Sorcerer's Stone (Book 1)")[0][0]

212

In [232]:
# using this index of books and similarity score of the books, 
# get all the similarity score of this book with every other book 
#similarity_scores[1]

# enumarate this similarity score of book
#list(enumerate(similarity_scores[1]))

# sort this by similarity score in desending order and select 5 scores from it leaving first
# Since 1st similarity score shows the sililarity of the book with itself.
similar_items = sorted(list(enumerate(similarity_scores[212])),key=lambda x:x[1],reverse=True)
for i in similar_items:
    print(i)

(212, 1.0000000000000002)
(208, 0.510086411516603)
(211, 0.4768721096844659)
(209, 0.45536631156104623)
(210, 0.3674524697746371)
(541, 0.28260643022963705)
(506, 0.26161415604762395)
(561, 0.2539859085909509)
(422, 0.22786722932225953)
(97, 0.21313764764707696)
(495, 0.20995416295417588)
(565, 0.20898082242622268)
(213, 0.20300802510061772)
(165, 0.20293204115321764)
(193, 0.19834455790649264)
(91, 0.19774165898394666)
(140, 0.19520620178479675)
(234, 0.1864156887357991)
(364, 0.1846057504140959)
(220, 0.18406260654197454)
(459, 0.18390335637473038)
(195, 0.18388695219817403)
(625, 0.18373766290716004)
(456, 0.18371976389873293)
(256, 0.18260303939489111)
(344, 0.1821771693090481)
(94, 0.18148440282120903)
(430, 0.18082149226851582)
(258, 0.17957312822744584)
(485, 0.17892075028992893)
(130, 0.17654688727213622)
(217, 0.17316989470434613)
(539, 0.17159663821252652)
(269, 0.17082539131692476)
(154, 0.17050587308714282)
(242, 0.16947586249753988)
(57, 0.16939784520636306)
(198, 0.16689178920279457)
(15, 0.16676079554261986)
(186, 0.16499879688815902)
(488, 0.16388324899536305)
(382, 0.1620540046646709)
(492, 0.16204130427134117)
(378, 0.16166898894999707)
(513, 0.16047555258272816)
(486, 0.16011032285152388)
(455, 0.15976967425672597)
(99, 0.15812959479056235)
(237, 0.15743705989670823)
(125, 0.15714171132205623)
(556, 0.15450071489756018)
(380, 0.1534201134582477)
(562, 0.1533026843785531)
(54, 0.1528423057703886)
(582, 0.15140417057948355)
(133, 0.14999890626196274)
(351, 0.1498992327149887)
(76, 0.14956541027815193)
(35, 0.14910877158149002)
(605, 0.14839390708844197)
(119, 0.14781867227174716)
(411, 0.14710145435300018)
(435, 0.14679401897947275)
(89, 0.14644935927919425)
(618, 0.14589751266136303)
(559, 0.14554892177680676)
(139, 0.14489056159289487)
(183, 0.1440994521630366)
(146, 0.1438844474772581)
(248, 0.14214074644822508)
(524, 0.14126615184426244)
(348, 0.14051883230675885)
(403, 0.14023377902583845)
(617, 0.1386352037269786)
(226, 0.1381750286966772)
(114, 0.137617090379974)
(619, 0.1363284796024847)
(282, 0.13614923803368836)
(505, 0.1359017031164726)
(590, 0.13517277034267375)
(335, 0.13457192586730757)
(176, 0.13399498884571684)
(51, 0.13396899168736007)
(244, 0.1333881874523198)
(223, 0.13299555860374496)
(461, 0.13258692501882643)
(544, 0.13226939677141025)
(535, 0.13223738515868683)
(188, 0.13211620077558678)
(191, 0.13180762111055322)
(624, 0.1312641818934919)
(245, 0.13003726884448988)
(518, 0.1295386855229982)
(498, 0.12953356315893952)
(235, 0.1291128859897928)
(442, 0.1287327577592479)
(27, 0.12844874610546225)
(265, 0.1283502792101947)
(480, 0.1275910028694438)
(132, 0.12673700772710564)
(512, 0.1262607407111715)
(576, 0.12618693256069102)
(611, 0.1261343442636642)
(185, 0.12556087300512736)
(109, 0.12543354158760633)
(230, 0.1251905158924088)
(284, 0.12488621184340096)
(531, 0.1243077397180034)
(205, 0.12370115930276349)
(281, 0.12304154958531581)
(61, 0.12261082756900259)
(14, 0.1218655185381135)
(483, 0.12147099268112954)
(465, 0.12101161481172641)
(409, 0.1205033467518935)
(427, 0.11971240669601103)
(536, 0.11931305777364037)
(145, 0.1191497880753646)
(400, 0.11888238701102923)
(581, 0.1188766253000289)
(138, 0.11789605949115305)
(426, 0.11685557997286668)
(408, 0.1160576094839315)
(81, 0.11582915987230524)
(37, 0.11573394554106184)
(46, 0.11443212782299045)
(479, 0.11400529511375722)
(228, 0.11337268351397407)
(152, 0.11331201557303397)
(85, 0.11331196641697695)
(95, 0.11308435076543875)
(381, 0.11297726991681976)
(280, 0.11279833318255289)
(469, 0.11241623316847874)
(614, 0.11238314131624087)
(517, 0.11236504273470532)
(102, 0.11228697043788385)
(356, 0.11138691856056504)
(12, 0.11105511114990708)
(516, 0.11067815513099888)
(443, 0.11018240472098423)
(549, 0.10994050559688978)
(464, 0.10993186192731916)
(438, 0.10936028140039991)
(421, 0.10861671495099108)
(615, 0.10858091499532799)
(379, 0.10843063980465086)
(429, 0.10836904893315107)
(75, 0.10735470746475777)
(123, 0.10709461675664989)
(371, 0.10692784915791573)
(101, 0.10683727173937374)
(30, 0.10670483261982848)
(311, 0.10588967971596908)
(90, 0.105880431193596)
(79, 0.10569507243122561)
(330, 0.1053818014838599)
(71, 0.10507908521714215)
(555, 0.10506297589289158)
(38, 0.10490801000960664)
(616, 0.10488706580510712)
(413, 0.10465503918290264)
(4, 0.10458420071085348)
(148, 0.10456802420671224)
(19, 0.10447951401658319)
(542, 0.1037137499292691)
(98, 0.10332625461118997)
(584, 0.10316893969108935)
(134, 0.10315161153518215)
(477, 0.10307426743667289)
(377, 0.10305418018037268)
(31, 0.10303115760651989)
(446, 0.1020282415540307)
(56, 0.1017921020855147)
(375, 0.1017464397680646)
(82, 0.10140461238350804)
(401, 0.10121904358542325)
(47, 0.10121211149163559)
(115, 0.10114618911594288)
(440, 0.10108444624304178)
(530, 0.10050668785208373)
(110, 0.10029132989776607)
(547, 0.10023191424378636)
(33, 0.10002925629412122)
(494, 0.09948374707896371)
(178, 0.09938706177209254)
(383, 0.0992233942342822)
(162, 0.09855961177492348)
(586, 0.09852024161319353)
(540, 0.09782813650183622)
(292, 0.09708724271320708)
(259, 0.09687682666112536)
(550, 0.09646545823526935)
(10, 0.09615079407833746)
(86, 0.09607711750593205)
(476, 0.0958555452649298)
(62, 0.09526389258019624)
(308, 0.094392108062035)
(551, 0.09392516970907637)
(182, 0.09381070940163758)
(507, 0.09345150795544463)
(26, 0.09301119055179544)
(533, 0.09285602318266466)
(160, 0.0927587512918705)
(347, 0.09274032705861651)
(87, 0.09272984514336599)
(267, 0.09222584610960835)
(526, 0.09180190049300137)
(302, 0.09170042035212403)
(288, 0.09165189472495532)
(147, 0.09133108017243743)
(510, 0.09049245807507633)
(184, 0.09002242549627788)
(131, 0.08991208251741367)
(621, 0.08972949899287902)
(577, 0.08972638832795678)
(156, 0.08950379107369363)
(564, 0.08948451085606624)
(104, 0.08944948532735117)
(107, 0.08915770216810381)
(108, 0.08913174789785343)
(398, 0.08902301553850847)
(74, 0.08879325780881943)
(358, 0.08877997397342688)
(231, 0.08868418857809993)
(42, 0.08862483668553767)
(447, 0.0885895938230361)
(496, 0.08847658568181245)
(219, 0.0884486391884753)
(522, 0.08765561084683449)
(120, 0.08755968557965034)
(232, 0.08726834836935443)
(473, 0.08693616230675488)
(503, 0.08685286165210727)
(607, 0.08684815132301302)
(514, 0.08682358858454621)
(338, 0.0867571809067895)
(174, 0.0866453009639582)
(475, 0.08653258104931108)
(484, 0.08633936396190867)
(171, 0.08621418023790774)
(424, 0.08615364393470912)
(229, 0.08604410055308764)
(367, 0.08578280120211729)
(622, 0.08577741817282557)
(49, 0.08563369442283816)
(207, 0.08550170593866589)
(24, 0.08544586607976401)
(384, 0.08543194982918276)
(397, 0.08542777091459715)
(345, 0.08530938432975073)
(534, 0.0852777503586311)
(474, 0.08518708009755921)
(117, 0.08496062129978582)
(168, 0.08490062191979625)
(419, 0.08463389728023242)
(444, 0.08424936548321216)
(34, 0.08409117342463748)
(142, 0.084032727780908)
(340, 0.0839096526440857)
(22, 0.08307936620620186)
(60, 0.08301341836071098)
(502, 0.08297641097142516)
(55, 0.08238864732346624)
(568, 0.08221885326829806)
(166, 0.08198856134391207)
(557, 0.08194215378550157)
(567, 0.0818085273031337)
(58, 0.08180301664913499)
(393, 0.08155539303456816)
(44, 0.08154927771642632)
(197, 0.08123979167503831)
(0, 0.08056276616843283)
(329, 0.08052478376819777)
(16, 0.08045504305998943)
(451, 0.0803431846506294)
(36, 0.07994672403360858)
(458, 0.07993654916756104)
(250, 0.07992133560281339)
(255, 0.07943575989210137)
(218, 0.07940384810744405)
(460, 0.07926971880425521)
(247, 0.07917097232423369)
(28, 0.07906405806881021)
(202, 0.07902009234467233)
(96, 0.0790200923446723)
(431, 0.07867990617244142)
(587, 0.07848411647545141)
(417, 0.07846346982007305)
(222, 0.07844183036761412)
(17, 0.07708965934358465)
(50, 0.07692743511215512)
(602, 0.07692439693884713)
(236, 0.07674364672596293)
(574, 0.07662255889453543)
(25, 0.07605224064169572)
(589, 0.07589827338265567)
(276, 0.07517213401233616)
(187, 0.07481670411840681)
(307, 0.0745353222012323)
(599, 0.07450300285020893)
(233, 0.07425363387813388)
(64, 0.07416144411239815)
(595, 0.07405364373832789)
(527, 0.07358044566274075)
(450, 0.07356018768553356)
(52, 0.07344587932964512)
(470, 0.07338166320156805)
(433, 0.07330931483673817)
(127, 0.07299117038328483)
(161, 0.07284737170750667)
(225, 0.07269300961171861)
(92, 0.072688363501018)
(434, 0.07255776449512369)
(606, 0.07184399116879792)
(260, 0.07173414993297797)
(420, 0.07107825539558019)
(608, 0.07102229718807337)
(155, 0.07067771922839922)
(2, 0.06983465747574608)
(249, 0.06976365908929014)
(59, 0.06952232322527305)
(332, 0.0693555833751807)
(416, 0.0692989805915199)
(43, 0.069162840965101)
(285, 0.06908478975710607)
(8, 0.06884050239536785)
(402, 0.0688023563557739)
(126, 0.06871235889262725)
(448, 0.0686775185719693)
(206, 0.06863135895056716)
(66, 0.06827698795847323)
(466, 0.06826211931390076)
(543, 0.06792892967808459)
(111, 0.06780335119811853)
(515, 0.06774260670117463)
(504, 0.06773949035780967)
(264, 0.06770967804464924)
(386, 0.06736047675818507)
(45, 0.06684031085203225)
(214, 0.06650691396301792)
(254, 0.06650150468838059)
(180, 0.06631694761013468)
(537, 0.06591992477594857)
(124, 0.0656808130104714)
(5, 0.0656613708473465)
(361, 0.06524833577281092)
(339, 0.06489329772958101)
(449, 0.06487205318341883)
(300, 0.06460998361255134)
(310, 0.0644408192028344)
(6, 0.06432202113786765)
(29, 0.06419821696548607)
(387, 0.0637245242439057)
(566, 0.06371675678371615)
(144, 0.06318130474273326)
(593, 0.06292807204135667)
(432, 0.06283618234316422)
(287, 0.06280964177166046)
(194, 0.06273053167309801)
(363, 0.06264048752863562)
(270, 0.062497750862876775)
(18, 0.06245479173748079)
(558, 0.06221555420103689)
(203, 0.06210481300328118)
(9, 0.0619822504791169)
(457, 0.061911775846036604)
(578, 0.061634618877496515)
(352, 0.06144476843013971)
(328, 0.06119510336373542)
(315, 0.06115262272162585)
(204, 0.061036119399839626)
(554, 0.06082194594936108)
(153, 0.06072572310301603)
(290, 0.0607050096177107)
(181, 0.060311899662148866)
(304, 0.060311899662148866)
(471, 0.05969446966603706)
(349, 0.05958076973852684)
(192, 0.059480754035696)
(262, 0.0593998480631155)
(545, 0.05939956687973724)
(337, 0.059271029626212335)
(299, 0.05894041716341195)
(278, 0.05885546184009306)
(323, 0.058278998761378584)
(453, 0.058063608695718104)
(263, 0.05799704742801888)
(170, 0.05796736565072438)
(467, 0.057943189195688735)
(136, 0.05788540719470863)
(271, 0.05766576681812083)
(135, 0.05718585996139535)
(196, 0.05718494544855038)
(350, 0.05677351837096925)
(279, 0.05654217538271938)
(521, 0.05628457871099098)
(501, 0.05609134955319931)
(575, 0.05608101718080278)
(468, 0.0560172182507039)
(227, 0.05544136990664533)
(591, 0.055434385167101814)
(346, 0.05509149476441823)
(487, 0.05477465078503715)
(445, 0.054627436937880886)
(163, 0.05402496710619326)
(355, 0.05389317212366706)
(1, 0.05383530202476339)
(309, 0.053584931137130434)
(303, 0.05348198883183719)
(572, 0.05321920270569094)
(528, 0.053213237734383176)
(600, 0.05314253418183621)
(343, 0.05299309862304471)
(462, 0.05285461241466236)
(571, 0.052739959114347326)
(525, 0.05262508997395262)
(597, 0.05238717039918708)
(563, 0.052174182681563985)
(274, 0.052136485204716754)
(137, 0.052112646583402276)
(365, 0.05205533887506108)
(199, 0.05199621626651043)
(331, 0.051692830710167975)
(88, 0.051396450656673524)
(394, 0.05126751964785841)
(407, 0.05114624809426418)
(73, 0.050970025306878955)
(215, 0.05043992568186825)
(478, 0.050374807402827494)
(177, 0.05027361773119395)
(425, 0.05018193850756966)
(224, 0.05016111101884705)
(297, 0.050076281235535425)
(388, 0.050063041097585685)
(172, 0.04986246195115252)
(620, 0.04985534839637616)
(414, 0.04946873076554677)
(23, 0.04942536376258877)
(298, 0.049253981773086736)
(428, 0.0491795905753851)
(68, 0.04891134961116474)
(266, 0.048888532411306376)
(251, 0.048491058073119875)
(588, 0.04848713214848299)
(406, 0.048362003856919515)
(13, 0.04829262394547704)
(32, 0.04825046538314582)
(268, 0.04814895303402507)
(366, 0.0479998119194728)
(570, 0.04788108337563402)
(112, 0.047755575732829646)
(481, 0.047755575732829646)
(294, 0.04771655654522743)
(603, 0.04771063399844358)
(538, 0.04751000510449919)
(221, 0.04748748989637854)
(69, 0.047415453998643664)
(239, 0.04735660768850303)
(241, 0.04735439092888058)
(261, 0.04677276248474216)
(121, 0.04631013839686041)
(316, 0.04630383014912855)
(482, 0.046058141724103205)
(143, 0.045968214056510553)
(93, 0.04569738281720905)
(238, 0.04520939185835947)
(63, 0.04520771585354478)
(439, 0.044711796439983686)
(493, 0.04469292207338981)
(272, 0.04438403235527755)
(105, 0.04434857847337782)
(579, 0.04432292761675228)
(157, 0.04415622976233157)
(320, 0.04339557838060884)
(77, 0.04308390569670152)
(423, 0.042968864873208196)
(293, 0.0428967895668793)
(623, 0.042826142905701116)
(20, 0.04274038092369814)
(472, 0.04260250616614001)
(275, 0.04250507202044329)
(286, 0.04248031064989291)
(200, 0.042303472804404545)
(373, 0.042303472804404545)
(116, 0.04218707534566959)
(173, 0.04214988955742614)
(376, 0.04165006155777594)
(190, 0.04154215966261225)
(489, 0.041539174346977445)
(585, 0.04149354193251395)
(499, 0.04140845426376994)
(609, 0.04110942779589228)
(80, 0.04108950561018348)
(391, 0.040912537259269854)
(583, 0.040826614199718426)
(412, 0.04051872532964494)
(312, 0.04043279260493757)
(368, 0.04005082096993385)
(122, 0.03993594972607667)
(319, 0.03985359019214943)
(327, 0.03963142908864219)
(436, 0.039407520917785856)
(360, 0.039225570505611825)
(370, 0.03877715038402837)
(289, 0.038739557403417904)
(53, 0.03871540566333922)
(291, 0.0380763783856039)
(341, 0.03800600542332281)
(601, 0.0378886331746671)
(491, 0.03769172565577179)
(560, 0.03762905885455207)
(497, 0.03758866324849131)
(463, 0.036826585301838986)
(83, 0.036796898786904786)
(596, 0.03659499437351145)
(39, 0.03649781726926852)
(106, 0.036414393577852394)
(592, 0.03570150360211403)
(21, 0.035466639547844084)
(322, 0.035078348449188855)
(175, 0.03505360181580951)
(532, 0.034757991524730046)
(151, 0.034419901428461255)
(511, 0.034388394915898866)
(336, 0.03434343772229142)
(418, 0.03420349259274582)
(243, 0.034070649941781286)
(529, 0.03405678701977886)
(404, 0.03379041282571453)
(84, 0.03373886372960323)
(70, 0.03344875633448215)
(342, 0.0332606311002611)
(240, 0.03309180909444974)
(610, 0.03308087320596729)
(159, 0.03289252998160526)
(437, 0.0328685470910804)
(305, 0.03272048981991165)
(385, 0.0324589541797798)
(169, 0.032393553352550536)
(78, 0.03165288250529514)
(72, 0.031422699510741704)
(301, 0.03130759844848614)
(490, 0.030967530926858024)
(167, 0.030881720700725764)
(273, 0.030635216116283063)
(179, 0.03046492187813937)
(374, 0.030144624124977575)
(415, 0.03013498635976708)
(372, 0.029439023175799408)
(257, 0.029277940956533823)
(313, 0.02891963270836727)
(405, 0.027828731032526352)
(128, 0.02773939298165038)
(189, 0.026274201760977986)
(520, 0.025405819175966658)
(598, 0.02391247478315552)
(500, 0.023767433547912394)
(7, 0.023449243260897507)
(314, 0.02269593139774325)
(324, 0.021400560162590013)
(548, 0.021084494170461664)
(164, 0.020683813849712875)
(508, 0.01959558733150423)
(362, 0.016928519372734645)
(252, 0.00837654478360266)
(546, 0.007718318171264153)
(3, 0.0)
(11, 0.0)
(40, 0.0)
(41, 0.0)
(48, 0.0)
(65, 0.0)
(67, 0.0)
(100, 0.0)
(103, 0.0)
(113, 0.0)
(118, 0.0)
(129, 0.0)
(141, 0.0)
(149, 0.0)
(150, 0.0)
(158, 0.0)
(201, 0.0)
(216, 0.0)
(246, 0.0)
(253, 0.0)
(277, 0.0)
(283, 0.0)
(295, 0.0)
(296, 0.0)
(306, 0.0)
(317, 0.0)
(318, 0.0)
(321, 0.0)
(325, 0.0)
(326, 0.0)
(333, 0.0)
(334, 0.0)
(353, 0.0)
(354, 0.0)
(357, 0.0)
(359, 0.0)
(369, 0.0)
(389, 0.0)
(390, 0.0)
(392, 0.0)
(395, 0.0)
(396, 0.0)
(399, 0.0)
(410, 0.0)
(441, 0.0)
(452, 0.0)
(454, 0.0)
(509, 0.0)
(519, 0.0)
(523, 0.0)
(552, 0.0)
(553, 0.0)
(569, 0.0)
(573, 0.0)
(580, 0.0)
(594, 0.0)
(604, 0.0)
(612, 0.0)
(613, 0.0)

In [233]:
top_similar_items = []
for i in range(len(similar_items)):
    if 0.3 < similar_items[i][1] < 1:
        top_similar_items.append(similar_items[i])

top_similar_items

[(208, 0.510086411516603),
 (211, 0.4768721096844659),
 (209, 0.45536631156104623),
 (210, 0.3674524697746371)]

In [234]:
if top_similar_items==[]:
        print('no book available for recommendation')
else:
       for i in top_similar_items:
            print(pt.index[i[0]])

Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Order of the Phoenix (Book 5)

In [235]:
def recommend_book(book_name):
    # fetch row index
    row_index = np.where(pt.index==book_name)[0][0]
    # use this row index of book to find 
    # the index of 5 other most similar book
    similar_items = sorted(list(enumerate(similarity_scores[row_index])),key=lambda x:x[1],reverse=True)
    top_similar_items = []
    for i in range(len(similar_items)):
        if 0.3 < similar_items[i][1] < 1:
            top_similar_items.append(similar_items[i])
    # use these index to get Book-Title
    if top_similar_items==[]:
        print('no book')
    else:
         for i in top_similar_items:
             print(pt.index[i[0]])

In [236]:

recommend_book('1st to Die: A Novel')

Along Came a Spider (Alex Cross Novels)
Roses Are Red (Alex Cross Novels)
Pop Goes the Weasel
Violets Are Blue
The Beach House
Cradle and All
The Summons
Jack &amp; Jill (Alex Cross Novels)
Kiss the Girls
Two for the Dough
2nd Chance
Flesh and Blood
One for the Money (Stephanie Plum Novels (Paperback))